/* colors */
:root {
    --brand--jmb-brand-navy: #111C58;
    --brand--jmb-brand-lavendar: #BCC5F5;
    --brand--jmb-brand-bluegray: #C5C8E0;
    --brand--jmb-brand-pink: #E43B90;
    --brand--jmb-brand-rose: #E2BDBD;
  
    --neutrals--jmb-gray900: #292929;
    --neutrals--jmb-gray800: #7B7B7B;
    --neutrals--jmb-gray300: #C6C6C6;
    --neutrals--jmb-gray200: #EBEBEB;
    --neutrals--jmb-gray100: #F6F6F6;
}

/* fonts */
:root {
    --primary-font: 'Open Sans', sans-serif;
    --secondary-font: 'Raleway', sans-serif; 
    --third-font: 'Playfair Display', serif;
    
}

/* text styles */
.heading-1 {
    font-family : var(--primary-font);
    font-size : 91px;
    line-height: 104px;
    letter-spacing : 0em;
  }
  .heading-2 {
    font-family : var(--primary-font);
    font-size : 60px;
    line-height: 70px;
    letter-spacing : 0em;
  }
  .heading-3 {
    font-family : var(--primary-font);
    font-size : 40px;
    line-height: 40px;
    letter-spacing : 0em;
  }
  .heading-4 {
    font-family : var(--primary-font);
    font-size : 27px;
    line-height: 34px;
    letter-spacing : 0em;
  }
  .heading-5 {
    font-family : var(--primary-font);
    font-size : 18px;
    line-height: 24px;
    letter-spacing : 0em;
  }
  .heading-6 {
    font-family : var(--primary-font);
    font-size : 12px;
    line-height: 17px;
    letter-spacing : 0em;}

    .body-text{
        font-family: var(--secondary-font);
        font-size : 12px;
        line-height: 17px;
        letter-spacing: 0em;
    }
    .image-caption {
        font-family : var(--third-font);
        font-size : 16px;
        line-height: 24px;
        letter-spacing : 0em;
      }
      .pull-quote {
        font-family : var(--third-font);
        font-size : 24px;
        line-height: 35px;
        letter-spacing : 0em;
      }
      /* SpacePatterns */
:root {
    --none: 0px;
    --xx-small: 2px;
    --x-small: 4px;
    --small: 8px;
    --regular: 16px;
    --large: 32px;
    --x-large: 64px;
    --xx-large: 128px;
  }